body {
background-color: #222233;
color: #FFFFFF;
font-family:Arial, sans-serif;
text-align: center;
padding-top: 50px;
}
button {
font-size: 20px;
font-weight: bold;
height: 80px;
width: 200px;
background-color: #4CAF50;
color: white;
border:goldenrod 3px solid;
border-radius: 10px;
cursor: pointer;
box-shadow: 2px 4px 8px grey;
}
button:hover {
border:goldenrod 3px dotted;
background-color: #45a049;
box-shadow: 4px 8px 16px grey;
}
h2,h3 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #00e5ff;

}
